@()

@main("About") {

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ExCorpse</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="about">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <div class="starter-template">
            <h1>About</h1>


	<p>Exquisite corpse is a pen and paper activity invented by french surrealists. Each person takes turns drawing on a piece of paper and then folds the paper to show the artist only a portion of the drawing. After a few turns a surrealist artwork emerges taking from each artist's interpretations and imaginations.</p>

            






        </div>

    </div><!-- /.container -->


}